
<div class="header">
    <div class="flex h50">
        <div class="flex">
            <a href="/" class="logo">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrYdCtct1i0vUcEgerqei8cywb1BT-pM_BgQ&usqp=CAU" alt="">
            </a>
        </div>

        <a href="/" class="home set">
            <i class="fa-solid fa-house"></i>
        </a>
        
        <div class="flex marTab">
            <a href="/addData" class="set"><i class="fa-solid fa-gear "></i></a>
            <a href="/addData" class="set"><i class="fa-solid fa-user"></i></a>
        </div>
    </div>
</div>