*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    margin-bottom: 100px;
}
:root{
    --text-white:#000000;
    --text-black:black;
    --team-color:#dd195a;
    --blue-team:#6a6ae2;
    /*แดง-เหลือง-เขียว*/
}

/* icon */
.fa-gear,.fa-user,
.fa-magnifying-glass,
.fa-house{
    color: aliceblue;
}
/* icon */


/*header*/
.h50, .header{
    height: 60px;
}

.header{
    width: 100%;
    background: var(--team-color);
    
}

.flex{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.logo{
    border-radius: 100%;
    overflow: hidden;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 15px;
}
.logo img{
    width: 80px;
    height: auto;
}

.set{
    width: 80px;
    height: 50px;
    color: var(--text-white);
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    margin: 0 2.5px;
    border-radius: 10px;
    transition: .3s;
}

.set:hover{
    background: #ffffff70;
    color: var(--team-color); 
}
.marTab{
    margin-right: 10px;
}
/*header*/